<section class="container-fluid">
    <section class="row">
        <div>
            <button onclick="app.PostController.showForm()">New Post</button>
        </div>
        <div id="form-view"></div>
    </section>
    <section class="row">
        <div class="col-6" id="post-view">
        </div>
        <div class="col-4" id="posted-comments">
            <div class="bg-white">
            <div id="comment-view-main">
            </div>
        </div>
        </div>
    </section>
</section>