<section class="container-fluid">
    <section class="row">
        <div>
            <button onclick="app.PostController.showForm()">New Post</button>
        </div>
        <div id="form-view"></div>
    </section>
    <section class="row">
        <div class="col-6" id="post-view">
        </div>
        <div class="col-4" id="posted-comments">
            <div class="bg-white">
                <span class="d-flex">
                    <h4 class="me-2">Post Name:</h4>
                    <h4></h4>
                </span>
                <span class="d-flex">
                    <h4 class="me-2">Comments:</h4>
                </span>
            </div>
            <div id="comment-view-main">
            </div>
        </div>
    </section>
</section>